services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: laravel_app
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - mysql
    command: >
      sh -c "sleep 10 && php artisan migrate --force && php artisan serve --host=0.0.0.0 --port=8000"
    environment:
      DB_CONNECTION: mysql
      DB_HOST: mysql
      DB_PORT: 3306
      DB_DATABASE: concept
      DB_USERNAME: laravel
      DB_PASSWORD: Laravel_1609

  mysql:
    image: mysql:8.0
    container_name: laravel_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: concept
      MYSQL_USER: laravel
      MYSQL_PASSWORD: Laravel_1609
    volumes:
      - mysql-data:/var/lib/mysql

volumes:
  mysql-data:
